%btn{
  padding: 5px 25px;
  font-weight: 700;
  font-size: 19px;
  line-height: 26px;
  background-color: #fff;
  border-radius: 10px;
  color: #005BFF;
  border: 2px solid #005BFF;
  cursor: pointer;
}

%btn-accent{
  padding: 5px 25px;
  font-weight: 700;
  font-size: 19px;
  line-height: 26px;
  color: #fff;
  background-color: #005BFF;
  border-radius: 10px;
  border: 2px solid #005BFF;
  cursor: pointer;
}

%category-1 {
  background-color: #ECEEF0;
}

%category-2 {
  background-color: #F6F7F9;
}

%category-3 {
  background-color: #E9E6FD;
}